{% extends 'user/wish/base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
            

<script>
$(document).ready(function() {
    var max_fields      = 10;
    var wrapper         = $(".container1");
    var add_button      = $(".add_form_field");
 
    var x = 1;
    $(add_button).click(function(e){
        e.preventDefault();
        if(x < max_fields){
            x++;
            $(wrapper).append('<div><div class="input-group form-group"><div class="input-group-prepend"><span class="input-group-text" style="width:250px;">Nazwa prezentu:</span></div><input type="text" name="name_wish[]" class="form-control"></div><div class="input-group form-group"><div class="input-group-prepend"><span class="input-group-text" style="width:250px;">Opis prezentu:</span></div><input type="textarea" name="desc_wish[]" class="form-control"></div><div class="input-group form-group"><div class="input-group-prepend"><span class="input-group-text" style="width:250px;">Link do prezentu(opcjonalnie):</span></div><input type="text" name="link_wish[]" class="form-control"></div><a href="#" class="delete">Delete</a></div>'); //add input box
        }
  else
  {
  alert('You Reached the limits')
  }
    });
 
    $(wrapper).on("click",".delete", function(e){
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>
            {{form(form)}}
            <div class="form-group">
				<button class="add_form_field btn-primary btn">Add New Field &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
			</div>
            <div class="container1">
 <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text" style="width:250px;">Nazwa prezentu:</span>
						</div>
                        <input type="text" name="name_wish[]" class="form-control">
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text" style="width:250px;">Opis prezentu:</span>
						</div>
                        <input type="textarea" name="desc_wish[]" class="form-control">
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text" style="width:250px;">Link do prezentu(opcjonalnie):</span>
						</div>
                        <input type="text" name="link_wish[]" class="form-control">
					</div>
</div>
{% endblock %}
